.custom-swiper {
    /* padding-bottom: 20px; */
}

.slide-image {
    width: 100%;
    height: auto;
}

.swiper-pagination {
    position: relative !important;
    margin-top: 20px;
}

.swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    background-color: #0088ff52 !important;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    background-color: #008AFF !important;
    opacity: 1;
    transform: scale(1.2);
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}